body{
    background-image: url(bilder/station3/bg\ \(1\).png);
    font-family: myFont;
    font-size: x-large;
    display: block;
}

@font-face{
    font-family: "myFont";
    src: url(bilder/station3/fonts/sweet_purple-webfont.eot);
    font-style: normal;
}

@font-face{
    font-family: "myFont";
    src: url(bilder/station3/fonts/sweet_purple-webfont.woff);
    font-style: normal;
    font-size: x-large;
}

@font-face{
    font-family: "myFont";
    src: url(bilder/station3/fonts/sweet_purple-webfont.woff2);
    font-style: normal;
}

@font-face{
    font-family: "myFont";
    src: url(bilder/station3/fonts/sweet_purple-webfont.ttf);
    font-style: normal;
}

@font-face{
    font-family: "myFont";
    src: url(bilder/station3/fonts/sweet_purple-webfont.svg);
    font-style: normal;
}

#back2home{
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: rgb(21, 58, 95);
    background-color: rgb(155, 205,255);
    padding: 5px 10px;
    border-radius: 50px;
    position: relative;
    top: 15px;
    left: 5px;
}

#back2home:hover{
    background-color: rgb(126, 187, 248);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
}

.text{
    color: rgb(51, 7, 82);
    letter-spacing: 1px;
    display: block;
    width: 400px;
    position: absolute;
}

h1{
    color: rgb(51, 7, 82);
    display: block;
    position: absolute;
    top: -10px;
    margin-left: -100px;
    letter-spacing: 1px;
    
}
